# Day 01 Python

In [1]:
#I want to say hello to all
print('Hello everyone!')

Hello everyone!

# Variables

In [2]:
x=5
print(x)
print(type(x))
y="Dark chocolate"
print(y)
type(y)

5
<class 'int'>
Dark chocolate

str

In [3]:
y="Dark chocolate"
y="chocolate"
print(y)

chocolate

In [4]:
x,y,z="chocolate","strawberry","Rocket"
print(x)
print(y)
print(z)

chocolate
strawberry
Rocket

In [5]:
x=y=z="Green plant"
print(x)
print(y)
print(z)

Green plant
Green plant
Green plant

In [6]:
cars=['Honda','Toyota','Ford']
x,y,z=cars
print(x)
print(y)
print(z)

Honda
Toyota
Ford

In [7]:
# Camel case
# Test variable case

testVariableCase="Venu Reddy"

In [8]:
# Pascal case
# Test variable case

TestVariableCase="Venu Reddy"

In [21]:
# Snake case (preffered to use)
# Test variable case

test_variable_case="Venu Reddy"

In [25]:
#Concatination
cars="Ford cars are " + "relaible."
print(cars)

Ford cars are relaible.

In [26]:
x="I"
y=" love"
z=" travelling"
print(x+y+z)

I love travelling

In [27]:
s_num=20
s_mul=s_num*5
print("Final value is:", s_mul/25)

Final value is: 4.0

In [28]:
First_name="Venu Gopal Reddy"
Last_name="Marella"
Mobile_no="07887862979"

print(First_name + "", Last_name)
print(Mobile_no)

Venu Gopal Reddy Marella
07887862979

# Data Types

In [2]:
print(type(5))
print(type(5.12))
print(type(2+1j))
print(type("Python"))
print(type([2,5,8]))
print(type({'Learn':'Python'}))
print(type({2,5,8}))
print(type((3,6.5,7,8)))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

# Converting Data Types

In [3]:
a = 55
type(a)

int

In [4]:
b='60'
type(b)

str

In [5]:
#String to integer type
con_int = int(b)
type(con_int)

int

In [6]:
add = a + con_int
print(add)

115

In [7]:
#List
list_tup = [2,2,5]
type(list_tup)

list

In [8]:
#List to tuple
type(tuple(list_tup))

tuple

In [9]:
list_set=[2,2,5,8,6]

In [10]:
#List to set
conv_set=set(list_set)
print(type(conv_set))
print(conv_set)

<class 'set'>
{8, 2, 5, 6}

In [11]:
#Dictionary
dict_type={'name':'venu','age':26}
type(dict_type)

dict

In [12]:
print(dict_type.keys())
print(dict_type.values())
print(dict_type.items())

dict_keys(['name', 'age'])
dict_values(['venu', 26])
dict_items([('name', 'venu'), ('age', 26)])

In [15]:
print(list(dict_type.keys()))
type(list(dict_type.keys()))

['name', 'age']

list

In [16]:
print(list(dict_type.values()))
type(list(dict_type.values()))

['venu', 26]

list

# Basic math operations

In [17]:
#Addition
print("Addition results:")
print(2+2)
print(3+5+5+6)
#Subtraction
print("Subraction results:")
print(5-2)
print(3-9)
#multiplication
print("Multiplication results:")
print(5*2)
print(2*3*1)
#Division
print("Division results:")
print(5/2)
#Exponential
print("Exponential results:")
print(2**3)
#Modulus
print("Modulus results:")
print(9%5)
#Floor division
print("Floor division results:")
print(3//2)

Addition results:
4
19
Subraction results:
3
-6
Multiplication results:
10
6
Division results:
2.5
Exponential results:
8
Modulus results:
4
Floor division results:
1

# Built in functions

In [18]:
print("Built in function")
print("Length of Python is:",len('Python'))

Built in function
Length of Python is: 6

In [19]:
print("Float to integer:",int(5.2))
print("Integer to float:",float(2))
print("Float to string:",type(str(5.2)))

Float to integer: 5
Integer to float: 2.0
Float to string: <class 'str'>

In [20]:
input('Enter your name:')
input('country:')
input('Age:')
input('Gender:')

Enter your name:venu
country:india
Age:26
Gender:male

'male'

In [21]:
#Adding two numbers by giving 2 input numbers
user_num1 = input('Enter your number1:')
user_num2 = input('Enter your number2:')
user_num1 = int(user_num1)
user_num2 = int(user_num2)
print('Addition of your two numbers is:', user_num1+user_num2)

Enter your number1:55
Enter your number2:60
Addition of your two numbers is: 115

In [22]:
print("Biggest number is:", max(5,9,63,7))
print("Small number is:", min(5,9,63,7))
print("Total sum is:", sum([5,9,63,7]))

Biggest number is: 63
Small number is: 5
Total sum is: 84

In [23]:
print(abs(-5))
print(abs(1+5j))

5
5.0990195135927845

In [24]:
print(pow(5,3))

125

In [25]:
print(round(5.6))
print(round(5.4))

6
5